*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  border-radius: 0;
}

body{
  font-size: 16px;
  font-family: sans-serif;
  min-height: 100vh;
}


/*  Simple Video Player Styles  */
.wrapper{
  display: flex;
  width: 1025px;
  height: 400px;
  margin: 20px auto;
}
#simpleVideoPlayer{
  position: relative;
  width: 720px;
  height: 100%;
  overflow: hidden;
}

#simpleVideoPlayer .media{
  display: block;
  width: 100%;
  height: 100%;
}

.playlistTags{
  width: 305px;
  height: 100%;
  overflow: auto;
  background-color: #393939;
}
.playlistTagsNavigation{
  display: flex;
}

.btnTab{
  width: 50%;
  padding: .5rem;
  font-size: 16px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  transition: background-color .25s;
}
.btnTab.active{
  background-color: tomato;
  color: #393939;
}
.tabContainer.active{
  display: none;
}
.tabContainer li{
  list-style: none;
  padding: .45rem .75rem;
  font-size: 12px;
  background-color: #393939;
  color: #fff;
}
.tabContainer li:nth-child(odd){
  background-color: #494949;
}
.tabContainer li:hover{
  box-shadow: inset -5px 0 tomato;
}

#simpleVideoPlayer .contentControls{
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 35px;
  padding: 5px 10px;
  background-color: rgba(0,0,0, .35);
  transform: translate3d(0, 100%, 0);
  transition: transform .40s;
}
#simpleVideoPlayer:hover .contentControls{
  transform: translate3d(0, 0, 0);
}

#simpleVideoPlayer .barControl{
  width: 50%;
  height: 10px;
  background-color: rgba(255,255,255, .35);
  border-radius: 25px;
  cursor: pointer;
}

#simpleVideoPlayer .barProgress{
  width: 0;
  height: 100%;
  background-color: #fff;
  border-radius: 25px;
  transition: width .05s;
}

#simpleVideoPlayer .timeLabel{
  font-size: 10px;
  color: #fff;
}

.tooltip {
  position: absolute;
  background-color: #646464;
  border-radius:4px;
  padding: 6px 12px;
  font-size: 12px;
  text-shadow: 0 1px 1px #000;
  color: #fff;
}
.tooltip:before {
  content : " ";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #646464;
  position:absolute;
  bottom:-5px;
  left:5px;
}

.buttonsControl{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn{
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.btn svg{
  fill: #fff;
  height: 25px;
  width: 25px;
}

.volumeContent{
  display: flex;
  justify-content: center;
  align-items: center;
}
.volumeControl{
  -webkit-appearance: none;
  width: 65px;
  height: 7px;
  margin: 0 5px;
  border-radius: 5px;
  background-color: rgba(255,255,255, .35);
  outline: none;
  transform: scale3d(0,1,1);
  transform-origin: left center;
  transition: transform .35s;
}
.volumeContent:hover .volumeControl{
  transform: scale3d(1,1,1);
}
.volumeControl::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}
.volumeControl::-moz-range-track{
  height: 7px;
  background-color: rgba(255,255,255, .35);
  border: none;
  outline: none;
}
.volumeControl::-moz-range-thumb{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}
